.done {
	text-decoration: line-through;
}

.low {
	background-color: #fff5ca;
}
.low:hover {
	background-color: #fff2b9;
	cursor: pointer;
}
.medium {
	background-color: #ffe1be;
}
.medium:hover {
	background-color: #ffd6a7;
	cursor: pointer;
}
.high {
	background-color: #ffc5c5;
}
.high:hover {
	background-color: #ffaeae;
	cursor: pointer;
}

.completed {
	color: rgb(230, 230, 230);
}
